<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bookBar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>servlet.HandleRegister</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>servlet.HandleLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleLogout</servlet-name>
    <servlet-class>servlet.HandleLogout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFood</servlet-name>
    <servlet-class>backStage.DeleteFood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDrink</servlet-name>
    <servlet-class>backStage.DeleteDrink</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>backStage.DeleteBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>servlet.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateFile</servlet-name>
    <servlet-class>servlet.UpdateFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveUser</servlet-name>
    <servlet-class>servlet.ActiveUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandlePasswordReset</servlet-name>
    <servlet-class>servlet.HandlePasswordReset</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>servlet.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookType</servlet-name>
    <servlet-class>backStage.DeleteBookType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDrinkType</servlet-name>
    <servlet-class>backStage.DeleteDrinkType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFoodType</servlet-name>
    <servlet-class>backStage.DeleteFoodType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddConsume</servlet-name>
    <servlet-class>backStage.AddConsume</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TodayRecommend</servlet-name>
    <servlet-class>backStage.TodayRecommend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteRecommend</servlet-name>
    <servlet-class>backStage.DeleteRecommend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductInfo</servlet-name>
    <servlet-class>servlet.ProductInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteLevel</servlet-name>
    <servlet-class>backStage.DeleteLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/servlet/HandleRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/servlet/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogout</servlet-name>
    <url-pattern>/servlet/HandleLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/servlet/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFood</servlet-name>
    <url-pattern>/backStage/DeleteFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDrink</servlet-name>
    <url-pattern>/backStage/DeleteDrink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/backStage/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/servlet/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFile</servlet-name>
    <url-pattern>/servlet/UpdateFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveUser</servlet-name>
    <url-pattern>/servlet/ActiveUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePasswordReset</servlet-name>
    <url-pattern>/servlet/HandlePasswordReset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/servlet/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFoodType</servlet-name>
    <url-pattern>/backStage/DeleteFoodType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDrinkType</servlet-name>
    <url-pattern>/backStage/DeleteDrinkType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookType</servlet-name>
    <url-pattern>/backStage/DeleteBookType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddConsume</servlet-name>
    <url-pattern>/backStage/AddConsume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodayRecommend</servlet-name>
    <url-pattern>/backStage/TodayRecommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRecommend</servlet-name>
    <url-pattern>/backStage/DeleteRecommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductInfo</servlet-name>
    <url-pattern>/servlet/ProductInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteLevel</servlet-name>
    <url-pattern>/backStage/DeleteLevel</url-pattern>
  </servlet-mapping>
</web-app>